body {
    background-color: rgb(54, 54, 54);
}

#main-container {
    width: 1200px;
    margin-left: calc(50% - 1200px / 2);
}

#box1 {
    border: 1px solid white;
    width: calc(100% - 2px);
    height: calc(20px - 2px);
    margin-top: calc(20vh - 20px / 2);
}

#box2 {
    border: 1px solid white;
    width: calc(100% - 2px);
    height: calc(50px - 2px);
}

#box2 div {
    border: 1px solid white;
    width: calc(800px - 2px);
    height: calc(20px - 2px);
    margin-left: calc(50% - 800px / 2);
    margin-top: calc(2% - 20px / 2);
}

#box-container1 {
    width: 800px;
    height: 200px;
    margin-top: 40px;
    margin-left: calc(50% - 800px / 2);
    position: relative;
}

#box-container1 div{
    border: 1px solid white;
    width: calc(260px - 2px);
    height: calc(200px - 2px);
}

#box3 {
    left: 0px;
    position: absolute;
}

#box4 {
    left: calc(50% - 260px / 2);
    position: absolute;
}

#box5 {
    right: 0px;
    position: absolute;
}

#box-container2 {
    width: 800px;
    height: 200px;
    margin-top: 20px;
    margin-left: calc(50% - 800px / 2);
    position: relative;
}

#box-container2 div{
    border: 1px solid white;
    height: calc(200px - 2px);
}

#box6 {
    position: absolute;
    width: calc(180px - 2px);
    left: 0px;
}

#box7 {
    position: absolute;
    width: calc(400px - 2px);
    left: calc(50% - 400px / 2);
}

#box8 {
    position: absolute;
    width: calc(180px - 2px);
    right: 0px;
}

#box-container3 {
    width: 800px;
    height: 200px;
    margin-top: 20px;
    margin-left: calc(50% - 800px / 2);
    position: relative;
}

#box-container3 div{
    border: 1px solid white;
    height: calc(200px - 2px);
}

#box9 {
    position: absolute;
    width: calc(400px - 2px);
    left: 0px;
}

#box10 {
    position: absolute;
    width: calc(180px - 2px);
    left: 420px;
}

#box11 {
    position: absolute;
    width: calc(180px - 2px);
    right: 0px;
}